<a href="https://colab.research.google.com/github/saikiranreddymote/INF0_5731/blob/main/In_class_exercise_03_10062022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (10/06/2022, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:
Sentiment analysis, spam detection, and topic labeling are fascinating tasks carried out by text classification that categorize data as good or poor.
Features that can be used to develop the SVM, deep learning, and NLP machine learning algorithms

1.Entity feature
2.Tfidf 
3.Dependency Parse
4.Linguistic feature extraction
5.Word2vec features


'''

'\nPlease write you answer here:\nSentiment analysis, spam detection, and topic labeling are fascinating tasks carried out by text classification that categorize data as good or poor.\nFeatures that can be used to develop the SVM, deep learning, and NLP machine learning algorithms\n\n1.Entity feature\n2.Tfidf \n3.Dependency Parse\n4.Linguistic feature extraction\n5.Word2vec features\n\n\n'

Question 2 (20 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [ ]:
# You code here (Please add comments in the code):

import nltk

from bs4 import BeautifulSoup as bs
import pandas as pd
import requests as rq
import matplotlib.pyplot as plt
import nltk
from wordcloud import WordCloud
from nltk.corpus import stopwords

#collecting sample text data from IMDb "KGF2 movie reviews"

url = 'https://m.imdb.com/title/tt7286456/reviews?ref_=tt_ov_rt'

#Storing the reviews into a dataframe
df = pd.DataFrame(columns=['Review'])
req = rq.get(url).text
soup = bs(req,'html.parser')

#collecting reviews as text
reviews_text = soup.find_all('div', attrs={'class' : 'text show-more__control'})

#taking a empty list initially
review_list = []
for i in range(len(reviews_text)):
    review_list.append(reviews_text[i].get_text())

#assigining list of reviews to the data frame    
df['Review'] = review_list

df['word_count'] = df['Review'].apply(lambda x: len(str(x).split(" ")))
df[['Review','word_count']].head()

Empty DataFrame
Columns: [Review, word_count]
Index: []

In [ ]:
#character count

df['char_count'] = df['Review'].str.len() ## including spaces
df[['Review','char_count']].head()

AttributeError: ignored

In [ ]:
# Getting Stopwords

from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')
stop = stopwords.words('english')

df['stopwords'] = df['Review'].apply(lambda x: len([x for x in x.split() if x in stop]))
df[['Review','stopwords']].head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                              Review  stopwords
0  This will go down as the greatest Indian films...         16
1  The screenplay, cuts and sound effects deserve...         37
2  KGF Chapter 1 movie was just a Trailer, But th...         45
3  "Hindi viewers, please don't regret later on w...        140
4  As expected, KGF 2 is getting positive respons...         31

In [ ]:
#hashtags in the reviews
df['hastags'] = df['Review'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
df[['Review','hastags']].head()

                                              Review  hastags
0  This will go down as the greatest Indian films...        0
1  The screenplay, cuts and sound effects deserve...        0
2  KGF Chapter 1 movie was just a Trailer, But th...        0
3  "Hindi viewers, please don't regret later on w...        0
4  As expected, KGF 2 is getting positive respons...        0

In [ ]:
#numerics in the reviews
df['numerics'] = df['Review'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
df[['Review','numerics']].head()

                                              Review  numerics
0  This will go down as the greatest Indian films...         1
1  The screenplay, cuts and sound effects deserve...         0
2  KGF Chapter 1 movie was just a Trailer, But th...         2
3  "Hindi viewers, please don't regret later on w...         5
4  As expected, KGF 2 is getting positive respons...         3

In [ ]:
#Upper characters in the reviews
df['upper'] = df['Review'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
df[['Review','upper']].head()

                                              Review  upper
0  This will go down as the greatest Indian films...      3
1  The screenplay, cuts and sound effects deserve...      0
2  KGF Chapter 1 movie was just a Trailer, But th...      6
3  "Hindi viewers, please don't regret later on w...     12
4  As expected, KGF 2 is getting positive respons...      4

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)." Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [ ]:
# You code here (Please add comments in the code):

txt_classification = (df['Review'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
txt_classification.columns = ['words','tf']
txt_classification

           words  tf
0            the   5
1              a   4
2             of   4
3            and   4
4             is   3
5             to   3
6          There   2
7           that   2
8           cast   1
9          angle   1
10          this   1
11       'masala   1
12        movie.   1
13        hardly   1
14           any   1
15  sugarcoating   1
16        honest   1
17      criminal   1
18           for   1
19        Rocky,   1
20        entire   1
21            it   1
22          more   1
23           man   1
24       success   1
25          with   1
26       promise   1
27      fulfill.   1
28         Kudos   1
29          crew   1
30           The   1
31        'state   1
32    disbelief'   1
33           but   1
34          cuts   1
35         sound   1
36       effects   1
37      deserves   1
38      standing   1
39      ovation.   1
40           are   1
41     illogical   1
42       moments   1
43         don't   1
44   screenplay,   1
45          take   1
46          away   1
47          you,   1
48       because   1
49      Director   1
50         keeps   1
51           you   1
52      invested   1
53            in   1
54      movie'!!   1

In [ ]:
#ITF
import numpy as np

for i,word in enumerate(txt_classification['words']):
    txt_classification.loc[i, 'idf'] = np.log(df.shape[0]/(len(df[df['Review'].str.contains(word)])))

txt_classification

           words  tf       idf
0            the   5  0.223144
1              a   4  0.000000
2             of   4  0.223144
3            and   4  0.223144
4             is   3  0.000000
5             to   3  0.000000
6          There   2  1.832581
7           that   2  0.510826
8           cast   1  2.525729
9          angle   1  2.120264
10          this   1  0.579818
11       'masala   1  3.218876
12        movie.   1  0.385662
13        hardly   1  3.218876
14           any   1  0.820981
15  sugarcoating   1  3.218876
16        honest   1  3.218876
17      criminal   1  3.218876
18           for   1  0.328504
19        Rocky,   1  3.218876
20        entire   1  1.832581
21            it   1  0.040822
22          more   1  0.916291
23           man   1  0.820981
24       success   1  1.832581
25          with   1  0.385662
26       promise   1  2.120264
27      fulfill.   1  3.218876
28         Kudos   1  3.218876
29          crew   1  2.525729
30           The   1  0.653926
31        'state   1  3.218876
32    disbelief'   1  3.218876
33           but   1  0.653926
34          cuts   1  2.120264
35         sound   1  2.120264
36       effects   1  2.525729
37      deserves   1  2.525729
38      standing   1  1.832581
39      ovation.   1  2.525729
40           are   1  0.733969
41     illogical   1  1.609438
42       moments   1  2.525729
43         don't   1  1.427116
44   screenplay,   1  3.218876
45          take   1  1.427116
46          away   1  2.120264
47          you,   1  3.218876
48       because   1  1.609438
49      Director   1  1.832581
50         keeps   1  2.120264
51           you   1  1.021651
52      invested   1  3.218876
53            in   1  0.000000
54      movie'!!   1  3.218876

In [ ]:
#ITF
import numpy as np

for i,word in enumerate(txt_classification['words']):
    txt_classification.loc[i, 'idf'] = np.log(df.shape[0]/(len(df[df['Review'].str.contains(word)])))

txt_classification

           words  tf       idf
0            the   5  0.223144
1              a   4  0.000000
2             of   4  0.223144
3            and   4  0.223144
4             is   3  0.000000
5             to   3  0.000000
6          There   2  1.832581
7           that   2  0.510826
8           cast   1  2.525729
9          angle   1  2.120264
10          this   1  0.579818
11       'masala   1  3.218876
12        movie.   1  0.385662
13        hardly   1  3.218876
14           any   1  0.820981
15  sugarcoating   1  3.218876
16        honest   1  3.218876
17      criminal   1  3.218876
18           for   1  0.328504
19        Rocky,   1  3.218876
20        entire   1  1.832581
21            it   1  0.040822
22          more   1  0.916291
23           man   1  0.820981
24       success   1  1.832581
25          with   1  0.385662
26       promise   1  2.120264
27      fulfill.   1  3.218876
28         Kudos   1  3.218876
29          crew   1  2.525729
30           The   1  0.653926
31        'state   1  3.218876
32    disbelief'   1  3.218876
33           but   1  0.653926
34          cuts   1  2.120264
35         sound   1  2.120264
36       effects   1  2.525729
37      deserves   1  2.525729
38      standing   1  1.832581
39      ovation.   1  2.525729
40           are   1  0.733969
41     illogical   1  1.609438
42       moments   1  2.525729
43         don't   1  1.427116
44   screenplay,   1  3.218876
45          take   1  1.427116
46          away   1  2.120264
47          you,   1  3.218876
48       because   1  1.609438
49      Director   1  1.832581
50         keeps   1  2.120264
51           you   1  1.021651
52      invested   1  3.218876
53            in   1  0.000000
54      movie'!!   1  3.218876