<a href="https://colab.research.google.com/github/saikiranreddymote/INF0_5731/blob/main/In_class_exercise_01_09072022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
def len_count(str):
    print(len(str))
ex = "Harshith"
len_count(ex)

8

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
ex = "google.com"

def count_char(str):
    res = {}
    for i in str:
        if i in res:
            res[i] += 1
        else:
            res[i] = 1
    print(res)
    
count_char(ex)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
ex = list(range(1,11))

def count_sum(nums):
    sum = 0
    for i in nums:
        sum+=i
    print(sum)
    
count_sum(ex)

55

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
def change(str):
    res = str[0] + str[1:].replace(str[0],'$')
    return res

str1 = "restart"
print(change(str1))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
def formula(a,b):
    s1 = pow(1+a/b , 3)
    s = 3.14*s1
    return s

formula(3,3)

25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1 = {'1':10, '2':20}
dic2 = {'3':30, '4':40}
dic3 = {'5':50, '6':60}

res = dic1 | dic2 | dic3
print(res)

{'1': 10, '2': 20, '3': 30, '4': 40, '5': 50, '6': 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
def check_tuple(tup,x):
    res = x in tup
    print(res)

ex_tup = (1,2,3,4,5)
n = 4
check_tuple(ex_tup,n)
n = 6
check_tuple(ex_tup,n)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
def max_min(set1):
    print("maximum value of set is " , max(set1))
    print("minimum value of set is " , min(set1))
    
ex = {1,2,3,4,5}
max_min(ex)

maximum value of set is  5
minimum value of set is  1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
# write your answer here
import random

def partition_list(stu_list,n):
    random.shuffle(stu_list)
    return [stu_list[i::n] for i in range(n)]

student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

ex = partition_list(student_list,6)

for i in ex:
    print(i)

['nm0618', 'sk1386', 'ds0814', 'aos0040', 'sk1458']
['fh0141', 'av0659', 'sa1198', 'sm1907', 'sk1313']
['ak0956', 'bg0320', 'sk1390', 'pr0353', 'ak0934']
['kg0470', 'sg1297', 'kg0569', 'vb0218', 'dr0609']
['jl1252', 'ms1500', 'nv0234', 'sm1640', 'vm0377']
['sc1229', 'ja0964', 'sb1357', 'hy0232', 'gn0108']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
def find_dup(array):
    dup_array = []
    
    for i in array:
        if array.count(i)>1 and i not in dup_array:
            dup_array.append(i)
    
    if len(dup_array) > 0:
        print(dup_array)
    else:
        return -1

    
arr = [1,2,3,4,3,8,2]
find_dup(arr)

arr= [1,2,3]
find_dup(arr)

[2, 3]

-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta

def all_sundays(year):
    dte = date(year, 1, 1)     
    dte += timedelta(days = 6 - dte.weekday())  
    while dte.year == year:
        yield dte
        dte += timedelta(days = 7)

sundays = all_sundays(2020)

for sunday in sundays:
    print(sunday)

2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27