<a href="https://colab.research.google.com/github/saikiranreddymote/INF0_5731/blob/main/sai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here
import random

mylist = []

for i in range(0,12):
    x = random.randint(2,99)
    mylist.append(x)

print(mylist)

mylist.sort()

print(mylist)

mylist.sort(reverse=True)

print(mylist)

r = sum(mylist)/(len(mylist))

print(r)

[55, 92, 79, 34, 30, 69, 95, 41, 15, 43, 21, 90]
[15, 21, 30, 34, 41, 43, 55, 69, 79, 90, 92, 95]
[95, 92, 90, 79, 69, 55, 43, 41, 34, 30, 21, 15]
55.333333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# Your code here
str1 = str(input("enter sentence1"))
str2= str(input("enter sentence2"))
split_str1= str1.split()
split_str2= str2.split()
print(split_str1)
print(split_str2)

comm_list =[]

for i in split_str1:
  for j in split_str2:
    if( i == j):
        comm_list.append(i)
print(comm_list)

punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
 
# Removing punctuations in string
# Using loop + punctuation string
for ele in str1:
    if ele in punc:
        str1 = str1.replace(ele, "")
        
print(str1)

vow= 'aeiouAEIOU'
count={}

for ele in str1:
    if ele in vow:
        if ele in count:
            count[ele]+=1
        else:
            count[ele] =1
            
for ele in str2:
    if ele in vow:
        if ele in count:
            count[ele]+=1
        else:
            count[ele] =1

print(count)

enter sentence1"Alas! Am I alive? This is my first python program"
enter sentence2"Alas! Am I alive? This is my first python program"
['"Alas!', 'Am', 'I', 'alive?', 'This', 'is', 'my', 'first', 'python', 'program"']
['"Alas!', 'Am', 'I', 'alive?', 'This', 'is', 'my', 'first', 'python', 'program"']
['"Alas!', 'Am', 'I', 'alive?', 'This', 'is', 'my', 'first', 'python', 'program"']
Alas Am I alive This is my first python program
{'A': 4, 'a': 6, 'I': 2, 'i': 8, 'e': 2, 'o': 4}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
import math
print("r","v")
for r in range(1,11):
 v = 4/3 * (math.pi) * r **3
 print(r,v)

r v
1 4.1887902047863905
2 33.510321638291124
3 113.09733552923254
4 268.082573106329
5 523.5987755982989
6 904.7786842338603
7 1436.7550402417319
8 2144.660584850632
9 3053.6280592892786
10 4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
# Your code here
#1
import statistics
import pandas as pd
data = pd.read_csv('Assignment1_denton_housing.csv')

#Calculate the difference in the number of Occupied Housing Units from year to year andprint it.
#The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010

occ_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# the difference in the number of Occupied Housing Units from year to year

diff_house = [list(occ_houses['value'].values)[loop] - list(occ_houses['value'].values)[loop+1]\
for loop in range(len(occ_houses)-1)]
diff_house

[795, -5091, 303, -1404, -1565, -2622]

In [ ]:
#2
#2
# calculate the percentage of housing units which are vacant and occupied.

unique_years = sorted(list(data['year'].unique())) # legging list of unique year number

# number of ocupied houses

occ_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=[
'year'])

# number of vacant houses

vacant_houses = data[data['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])
new_house_df = pd.DataFrame()
new_house_df['year'] = unique_years
new_house_df['Vacant House'] = vacant_houses['value'].values
new_house_df['Occupied House'] = occ_houses['value'].values
new_house_df['Percent of Vacant House'] = [(new_house_df['Vacant House'][loop] * 100) /
\
(new_house_df['Vacant House'][loop] + new_house_df['Occupied House']
[loop])\

for loop in range(len(new_house_df))]
new_house_df['Percent of Occupied House'] = [(new_house_df['Occupied House'][loop] * 100) /\
(new_house_df['Vacant House'][loop] + new_house_df['Occupied House']
[loop])\

for loop in range(len(new_house_df))]
new_house_df

,year,Vacant House,Occupied House,Percent of Vacant House,Percent of Occupied House
0,2008,4483,36711,10.882653,89.117347
1,2009,3583,35916,9.071116,90.928884
2,2010,3635,41007,8.142556,91.857444
3,2011,4213,40704,9.379522,90.620478
4,2012,3013,42108,6.677600,93.322400
5,2013,4215,43673,8.801788,91.198212
6,2014,2814,46295,5.730111,94.269889

In [ ]:
#3

max_vacant_houses = max(data[data['title_field'] == 'Vacant Housing Units'].value)
vacant_houses = vacant_houses[vacant_houses['value'] == max_vacant_houses]
vacant_houses
# the highest number of Occupied housing units
max_occuped_houses = max(data[data['title_field'] == 'Occupied Housing Units'].value)
occ_houses = occ_houses[occ_houses['value'] == max_occuped_houses]
occ_houses

   year             title_field  value
2  2014  Occupied Housing Units  46295

In [ ]:
#4
# the harmonic mean .

print(statistics.harmonic_mean(list(data[data['title_field'] == 'Total Housing Units'].
value)))

44398.28543969185